.registoration-container
  .registration-header
    .registration-header__top
      = link_to root_path, class: "link" do
        = image_tag "mercari_widelogo.png",class:"registration-header__top__image"
    .wizard
      %ul.wizard__texts
        %li.wizard__texts__process.red
          会員情報　
        %li.wizard__texts__process
          電話番号認証
        %li.wizard__texts__process
          お届け先住所入力
        %li.wizard__texts__process
          支払い方法　　　
        %li.wizard__texts__process
          完了
      %ul.wizard__bar
        %li.wizard__bar__ball.red
        %li.wizard__bar__line
        %li.wizard__bar__ball
        %li.wizard__bar__line
        %li.wizard__bar__ball
        %li.wizard__bar__line
        %li.wizard__bar__ball
        %li.wizard__bar__line
        %li.wizard__bar__ball
  .registration-main
    .registration-main__box
      .registration-main__box__header
        会員情報入力
        
      .registration-main__box__contents
        = form_for @user, url: sms_confirmation_signup_index_path, method: :get do |f|
          .registration-main__box__contents__form-group
            = f.label :name, "ニックネーム"
            %span.require 必須
            %br  
            = f.text_field :name, value: "#{session[:name]}" , placeholder: "例）メルカリ太郎",class: 'textbox'
          .registration-main__box__contents__form-group
            = f.label :email, "メールアドレス"
            %span.require 必須
            %br  
            = f.text_field :email, value: "#{session[:email]}",placeholder: "PC・携帯どちらでもか",class: 'textbox'
          - if session[:password] .blank?
            .registration-main__box__contents__form-group
              = f.label :password, "パスワード"
              %span.require 必須
              %br  
              = f.password_field :password,placeholder: "7文字以上",class: 'textbox'
          - if session[:password_confirmation] .blank?
            .registration-main__box__contents__form-group
              = f.label :password_confirmation, "パスワード（確認）"
              %span.require 必須
              %br  
              = f.password_field :password_confirmation,placeholder: "7文字以上",class: 'textbox'
          .registration-main__box__contents__form-group
            %h3.idenfication
              本人確認
            %p.text
              安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .registration-main__box__contents__form-group
            = f.label :first_name, "お名前(全角)"
            %span.require 必須
            %br  
            = f.text_field :first_name,placeholder: "例）山田",class: 'namebox'
            = f.text_field :last_name,placeholder: "例）麻耶",class: 'namebox'
          .registration-main__box__contents__form-group 
            = f.label :first_name_kana, "お名前カナ(全角)"
            %span.require 必須
            %br  
            = f.text_field :first_name_kana,placeholder: "例）ヤマダ",class: 'namebox'
            = f.text_field :last_name_kana,placeholder: "例）マヤ",class: 'namebox'
          .registration-main__box__contents__form-group
            = f.label :birth, "生年月日"
            %span.require 必須
            %br
            = f.select :birthyear,(1950..2019).to_a,{include_blank: '--'},class: 'default-select select-day'
            %span 年
            = f.select :birthmonth,(1..12).to_a,{include_blank: '--'},class: 'default-select select-day'
            %span 月
            = f.select :birthday,(1..31).to_a,{include_blank: '--'},class: 'default-select select-day'
            %span 日
          %p.info
            ※本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
          .registration-main__box__contents__form-group
            = image_tag "reCAPTCHA.png",class:"recap"
          .registration-main__box__contents__form-group
            .registration-main__box__contents__form-group__agreement
              「次へ進む」のボタンを押すことにより、
              = link_to "#" ,class: "links" do
                利用規約
              に同意下ものとみなします
              = f.submit "次へ進む", class: "btn"
          .registration-main__box__contents__form-group__about
            = link_to "#", class: "links" do
              本人情報の登録について
              %i.fa.fa-angle-right
  =render 'shared/grayfooter'



