-# ユーザープロフィール編集ページ

= render 'shared/header'
= render 'shared/breadcrumbs.html.haml'
.edit
  = render 'shared/user_sidebar'
  %section.edit__box
    %h2.edit__box__title プロフィール
    %form.edit__box__inner
      .edit__box__inner__top
        %figure.edit__box__inner__top__icon
        %input{type: 'text', value: "@user.name", class: 'edit__box__inner__top__name', placeholder: '例)AYA☆セール中'}
      .edit__box__inner__under
        %textarea{name: 'profile', placeholder: '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいなオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪' , class: 'edit__box__inner__under__introduction'}
        %button{type: 'submit', class: 'edit__box__inner__under__push'}変更する

.edit-shrink
  %section.edit-shrink__box
    %h2.edit-shrink__box__title プロフィール
    %form.edit-shrink__box__inner
      .edit-shrink__box__inner__top
        = image_tag "mypage_background.jpg", class: 'back'
        %figure.edit-shrink__box__inner__top__icon
        %input{type: 'text', class: 'edit-shrink__box__inner__top__name', placeholder: '例)AYA☆セール中'}
      .edit-shrink__box__inner__under
        %textarea{name: 'profile', placeholder: '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいなオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪' , class: 'edit-shrink__box__inner__under__introduction'}
        %button{type: 'submit', class: 'edit-shrink__box__inner__under__push'}変更する
  = render 'shared/user_sidebar'

.edit-more-shrink
  %section.edit-more-shrink__box
    %h2.edit-more-shrink__box__title プロフィール
    %form.edit-more-shrink__box__inner
      .edit-more-shrink__box__inner__top
        = image_tag "mypage_background.jpg", class: 'back'
        %figure.edit-more-shrink__box__inner__top__icon
        %input{type: 'text', class: 'edit-more-shrink__box__inner__top__name', placeholder: '例)AYA☆セール中'}
      .edit-more-shrink__box__inner__under
        %textarea{name: 'profile', placeholder: '例）こんにちは☆ ご覧いただきありがとうございます！かわいいものやきれいなオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪' , class: 'edit-more-shrink__box__inner__under__introduction'}
        %button{type: 'submit', class: 'edit-more-shrink__box__inner__under__push'}変更する
  = render 'shared/user_sidebar'


= render 'shared/camera'

= render 'shared/footer'

