.gray-footer
  %nav.gray-footer__top
    %ul.gray-footer__top__text
      %li.gray-footer__top__text__box
        = link_to '#', class: "gray-footer__top__text__box__link" do
          プライバシーポリシー
      %li.gray-footer__top__text__box
        = link_to '#', class: "gray-footer__top__text__box__link" do
          メルカリ利用規約
      %li.gray-footer__top__text__box
        = link_to '#', class: "gray-footer__top__text__box__link" do
          特定商取引に関する表記
  .gray-footer__middle
    = link_to '#', class: 'gray-footer__middle__icon' do
      = image_tag 'mercari_logo_gray.svg', class: 'gray-footer__middle__icon--logo'
  %p.gray-footer__under
    %small.gray-footer__under__text
      © 2019 Mercari

.gray-footer-shrink
  %nav.gray-footer-shrink__top
    %ul.gray-footer-shrink__top__text
      %li.gray-footer-shrink__top__text__box
        = link_to '#', class: "gray-footer-shrink__top__text__box__link" do
          プライバシーポリシー
      %li.gray-footer-shrink__top__text__box
        = link_to '#', class: "gray-footer-shrink__top__text__box__link" do
          メルカリ利用規約
      %li.gray-footer-shrink__top__text__box
        = link_to '#', class: "gray-footer-shrink__top__text__box__link" do
          特定商取引に関する表記
  .gray-footer-shrink__middle
    = link_to '#', class: 'gray-footer-shrink__middle__icon' do
      = image_tag 'mercari_logo_gray.svg', class: 'gray-footer-shrink__middle__icon--logo'
  %p.gray-footer-shrink__under
    %small.gray-footer-shrink__under__text
      © 2019 Mercari