.topbar
  .topbar__main
    %h1.topbar__main__icon
      = link_to 'https://www.mercari.com/jp/' do
        = image_tag "mercari_widelogo.png", alt: "Mercari", class: "topbar__main__icon--logo"
    .topbar__main__search
      %form{class: 'topbar__main__search__form'}
        %input{placeholder: "何かお探しですか？", class: 'topbar__main__search__form--folder'}
        %button{class: 'topbar__main__search__form--push'}
          = link_to 'https://www.mercari.com/jp/' do
            = fa_icon 'search', class: 'icon'
  .topbar__under
    %ul.topbar__under__left
      %li.topbar__under__left__choice
        %h2.topbar__under__left__choice__example
          = link_to 'https://www.mercari.com/jp/', class: "link" do
            = fa_icon 'list-ul', class: 'icons'
            カテゴリーから探す
          %ul.topbar__under__left__choice__example__category
            %li.topbar__under__left__choice__example__category__list
              レディース
              -# .topbar__under__left__category
              -#   = render partial: 'shared/category'
                -# 上の記述は、カーソルを合わせた際にカテゴリー一覧を表示するためのもの。
                -# renderで分けているけどまだ表示できていない状態...
      %li.topbar__under__left__choice
        %h2.topbar__under__left__choice__example
          = link_to 'https://www.mercari.com/jp/', class: "link" do
            = fa_icon 'tag', class: 'icons'
            ブランドから探す
        -# = render partial: 'shared/brand'
          -# %ul.brand
          -#   = link_to 'https://www.mercari.com/jp/', class: 'list' do
          -#     %li.brand__menu
          -#       シャネル
        -# 上の記述は、カーソルを合わせた際にカテゴリー一覧を表示するためのもの。
        -# renderで分けているけどまだ表示できていない状態...
          -# この下からifでログインしているかいないかで分岐する。
    %ul.topbar__under__right
      -# - if user_signed_in?
      %li.topbar__under__right__contents
        %h2.topbar__under__right__contents__user
          = link_to 'https://www.mercari.com/jp/', class: 'link' do
            = fa_icon 'heart'
            いいね！一覧
      %li.topbar__under__right__contents
        %h2.topbar__under__right__contents__user
          = link_to 'https://www.mercari.com/jp/', class: 'link' do
            = fa_icon 'bell'
            お知らせ
      %li.topbar__under__right__contents
        %h2.topbar__under__right__contents__user
          = link_to 'https://www.mercari.com/jp/', class: 'link' do
            = fa_icon 'check'
            やることリスト
      %li.topbar__under__right__contents
        %h2.topbar__under__right__contents__user
          = link_to 'https://www.mercari.com/jp/', class: 'link' do
            = fa_icon 'user'
            マイページ
      -# - else
      -# %li.topbar__under__right__contents
      -#   = link_to 'https://www.mercari.com/jp/', class: "link" do
      -#     .topbar__under__right__contents__list
      -#       .topbar__under__right__contents__list--text-red 新規会員登録
      -# %li.topbar__under__right__contents
      -#   = link_to 'https://www.mercari.com/jp/', class: "login" do
      -#     ログイン
