.topbar
  .main
    .main__icon
      = link_to 'https://www.mercari.com/jp/' do
        =image_tag "mercari_widelogo.png", alt: "Mercari", class: "main__icon--logo"
    .main__search
      %form{class: 'main__search__form'}
        %input{placeholder: "何かお探しですか？", class: 'main__search__form--folder'}
        %button{class: 'main__search__form--push'}
          = link_to 'https://www.mercari.com/jp/' do
            = fa_icon 'search', class: 'icon'
  .under
    .choice
      .choice__example
        .chice__example--button
          = link_to 'https://www.mercari.com/jp/' do
            = fa_icon 'list-ul', class: 'icons'
            カテゴリーから探す
        .choice__example--list
      .choice__example
        .chice__example--button
          = link_to 'https://www.mercari.com/jp/' do
            = fa_icon 'tag', class: 'icons'
            ブランドから探す
        .choice__example--list
    .sign
      .sign__new
        = link_to 'https://www.mercari.com/jp/', class: 'sign__new--botton' do
          新規会員登録
      .sign__login
        = link_to 'https://www.mercari.com/jp/', class: 'sign__login--botton' do
          ログイン
