.content
  .content-area
    .content__left
      .content__left__list
        .content__left__mypage
          = link_to user_path(current_user.id) do
            .list__mypage
              マイページ
              = fa_icon 'angle-right', class: 'icon fa-2x ' 
          = link_to '/' do
            .list__news
              お知らせ
              = fa_icon 'angle-right', class: 'icon fa-2x '
          = link_to '/' do
            .list__todolist
              やることリスト
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__goodjob
              いいね！一覧
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to new_user_item_path(current_user) do
            .list__exhibit
              出品する
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__exhibitnow
              出品した表品 - 出品中
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__transactionnow
              出品した商品 - 取引中
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__transactionend
              出品した商品 - 売却済み
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__buynow
              購入した商品 - 取引中
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__buyend
              購入した商品 - 過去の取引
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__newslist
              ニュース一覧
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__evaluation
              評価一覧
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__guide
              ガイド
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .list__contact
              お問い合わせ
              = fa_icon 'angle-right', class: 'icon fa-2x'
        .content__left__merpay
          メルペイ
        .merpay__list
          = link_to '/' do
            .merpay__transfer
              売上・振込申請
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .merpay__point
              ポイント
              = fa_icon 'angle-right', class: 'icon fa-2x'
        .content__left__config
          設定
        .config__lisut
          = link_to edit_user_path(current_user.id) do
            .config__profile
              プロフィール
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .config__address
              発送元・お届け先住所変更
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to new_user_cards_path(current_user.id) do
            .config__payment
              支払い方法
              = fa_icon 'angle-right', class: 'icon fa-2x '
          = link_to '/' do
            .config__passmail
              メール/パスワード
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to address_user_path(current_user.id) do
            .config__person
              本人情報
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to '/' do
            .config__tell
              電話番号の確認
              = fa_icon 'angle-right', class: 'icon fa-2x'
          = link_to signout_user_path(current_user) do
            .config__logout
              ログアウト
              = fa_icon 'angle-right', class: 'icon fa-2x'