-# コードレビュー用コメントアウト
= render 'shared/header'
.wrapper
  .contents
    .slider
      .image1
        =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign/" do
          .image1__block
      .image2
        =link_to "/" do
          .image2__block
      .image3
        .image3__box
          = image_tag "top_phone.png", class:"top_phone"
          .image3__box__texts
            .image3__box__texts__title.narrow-title
              スマホで 
              %br.linebreaker
              かんたん
              %br  
              フリマアプリ
            .image3__box__texts__title.wide-title
              スマホで かんたん
              %br  
              フリマアプリ
            .image3__box__texts__text
              メルカリはスマホアプリからすぐに出品できる
              %br  
              購入時も安心な独自システムのアプリです
            .image3__box__texts__logos
              =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
                =image_tag "apple_store.svg", class:"apple_store"
              =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
                =image_tag "google_store.svg", class:"google_store"
        .slider5
    .content-main
      .main__header
        %h2.main__header__name
          人気のカテゴリ
        .main__header__block
          %ul.main__header__block__menu
            -# -categories.each |do|
            -#   %li.main__header__block__name
            -#     = link_to "#category.name do
            -#       = category.name
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                レディース
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                メンズ
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                家電・スマホ・カメラ
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                おもちゃ・ホビー・グッズ
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .content-main
      .main__header
        %h2.main__header__name
          人気のブランド
        .main__header__block
          %ul.main__header__block__menu
            -# -categories.each |do|
            -#   %li.main__header__block__name
            -#     = link_to "#category.name do
            -#       = category.name
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                シャネル
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                ルイヴィトン
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                シュプリーム
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                ナイキ
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              %span.items__content__block__description__font
                = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
= render 'shared/camera'
= render 'shared/footer'
