= render 'shared/header'
.wrapper
  .contents
    .slider
      .image1
        -# =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign/" do
          -# %img{:alt => "手数料無料", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-super-exhibition-fes-1354ceda34bd06081a45ee755e911f07.jpg"}>/
      .image2
        -# %a{:href => "#"}
          -# %img{:alt => "キャンプ", :src => "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?3761641567"}/
      .image3
        -# %img{:alt => "携帯画像", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}>/
      -#   %p1="スマホで簡単  フリマアプリ"
      -#   %p="メルカリはスマホからすぐに出品できる  購入時も独自システムのアプリです"
      -#   %a{:href => "#"}
      -# %li
        -# =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign/" do
          -# %img{:alt => "携帯画像の背景", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg"}>/
        .slider5
    .content-main
      .main__header
        %h2.main__header__name
          = "人気のカテゴリ"
        .main__header__block
          %ul.main__header__block__menu
            -# -categories.each |do|
            -#   %li.main__header__block__name
            -#     = link_to "#category.name do
            -#       = category.name
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                レディース
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                メンズ
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                家電・スマホ・カメラ
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                おもちゃ・ホビー・グッズ
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            category.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .content-main
      .main__header
        %h2.main__header__name
          人気のブランド
        .main__header__block
          %ul.main__header__block__menu
            -# -categories.each |do|
            -#   %li.main__header__block__name
            -#     = link_to "#category.name do
            -#       = category.name
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                シャネル
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                ルイヴィトン
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                シュプリーム
            %li.main__header__block__menu__name
              =link_to "#category.name", class:"link" do
                ナイキ
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
    .main-items
      -# ここでrender
      .items__content
        .items__content__block
          %h3.items__content__block__name
            brand.name新着アイテム
          .items__content__block__description
            =link_to "https://www.mercari.com/jp/category/1/",class:"more-link" do
              もっと見る
              = fa_icon 'angle-right'
        -# ここは_item.html.hamlをrenderします
        .item_all
          .items
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
            .item
              =link_to "https://item.mercari.com/jp/m46869239326/", class:"item-link" do
                .item__box
                  .item__box__image
                    %span.item__box__image__price
                      item.price
                    =image_tag "https://static.mercdn.net/thumb/photos/m46869239326_1.jpg?1570023122", alt:"item.text", class:"item__box__image__photo"
                  .item__box__text
                    %span.item__box__text__title
                      item.text
= render 'shared/camera'
= render 'shared/footer'
