= render 'shared/header'
.wrapper
  .contents
    .slider
      .image1
        =link_to "https://jp-news.mercari.com/2019/10/04/free-campaign/" do
          .image1__block
      .image2
        =link_to "/" do
          .image2__block
      .image3
        .image3__box
          = image_tag "top_phone.png", class:"top_phone"
          .image3__box__texts
            .image3__box__texts__title.narrow-title
              スマホで 
              %br.linebreaker
              かんたん
              %br  
              フリマアプリ
            .image3__box__texts__title.wide-title
              スマホで かんたん
              %br  
              フリマアプリ
            .image3__box__texts__text
              メルカリはスマホアプリからすぐに出品できる
              %br  
              購入時も安心な独自システムのアプリです
            .image3__box__texts__logos
              =link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
                =image_tag "apple_store.svg", class:"apple_store"
              =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
                =image_tag "google_store.svg", class:"google_store"
        .slider5
    .content-main
      .main__header
        %h2.main__header__name
          人気のカテゴリ
        .main__header__block
          %ul.main__header__block__menu
            -@category.each do |category|
              %li.main__header__block__menu__name
                =link_to "#category#{category.id}", class:"link" do
                  =category.genre
    -@category.each do |category|
      = render partial:"shared/category", locals: { category: category }
    .content-main
      .main__header
        %h2.main__header__name
          人気のブランド
        .main__header__block
          %ul.main__header__block__menu
            -@brand.each do |brand|
              %li.main__header__block__menu__name
                =link_to "#brand-#{brand.id}", class:"link" do
                  =brand.name
    -@brand.each do |brand|
      = render partial:"shared/brand", locals: { brand: brand }
= render 'shared/camera'
= render 'shared/footer'
