= render 'shared/header'
%section.show
  %section.item__content
    %h1.item__content__name
      = @item.name
    .item__content__main.clearfix
      .item__content__main__text
        =@item.name
        は
        =@item.user.items.length
        回の取引実績を持つ
        =@item.user.name
        さんから出品されました。
        =@item.brand.name
        （
        =@item.category.genre 
        \/
        =@item.category.parent.genre
        \/
        =@item.category.root.genre
        ）の商品で、
        =@item.shipping.prefecture.name
        から
        =@item.shipping.term.name
        されます。
      .item__content__main--large__photo.clearfix
        .item__content__main--large__photo__box.clearfix
          = image_tag "#{@item.images.first.url}", alt: "#{@item.name}", class: 'item__main__photo'
        %ui.item__content__main--large__photo__list
          -@item.images.each do |image|
            %li.item__content__main--large__photo__list-one
              = image_tag "#{image.url}", alt: "#{@item.name}", class: 'item__content__main--large__photo__list-one'
      %table.item__content__main__table
        %tbody.item__content__main__table__tbody
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              出品者
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                =link_to "#" do
                  =@item.user.name
              .item__content__main__table__tbody__tr__td__valuation
                .item__content__main__table__tbody__tr__td__valuation__ratings
                  =fa_icon 'thumbs-up', class:"rating-good"
                  %span.item__content__main__table__tbody__tr__td__valuation__number
                  0
                .item__content__main__table__tbody__tr__td__valuation__ratings
                  =fa_icon 'meh-blank', class:"rating-usual"
                  %span.item__content__main__table__tbody__tr__td__valuation__number
                  0
                .item__content__main__table__tbody__tr__td__valuation__ratings
                  =fa_icon 'thumbs-down', class:"rating-bad"
                  %span.item__content__main__table__tbody__tr__td__valuation__number
                  0
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              カテゴリー
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                .item__content__main__table__tbody__tr__td__name__category
                =link_to category_path(@item.category.root_id) do
                  =@item.category.root.genre
                .item__content__main__table__tbody__tr__td__name__genre
                =link_to category_path(@item.category.parent.id) do
                  =fa_icon 'angle-right', class:"nav__item__link-next-icon"
                  =@item.category.parent.genre
                .item__content__main__table__tbody__tr__td__name__ancestry
                =link_to category_path(@item.category.id) do
                  =fa_icon 'angle-right', class:"nav__item__link-next-icon"
                  =@item.category.genre
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              ブランド
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
              =link_to "#" do
                =@item.brand.name
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              商品の状態
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                =@item.condition.name
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              配送料の負担
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                -if @item.shipping.charge == 1
                  送料込み(出品者負担)
                - else
                  着払い(購入者負担))
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              配送の方法
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                =@item.shipping.delivery_method.name
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              配送元地域
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
              =link_to "#" do
                =@item.shipping.prefecture.name
          %tr.item__content__main__table__tbody__tr
            %th.item__content__main__table__tbody__tr__th 
              配送日の目安
            %td.item__content__main__table__tbody__tr__td
              .item__content__main__table__tbody__tr__td__name
                =@item.shipping.term.name
          
    .item__content__price__box.visible-sp
      %span.item__content__price__box__value
        = "¥" + @item.price.to_s(:delimited, delimiter: ',')
      %span.item__content__price__box__tax (税金)
      %span.item__content__price__box__fee
        -if @item.shipping.charge == 1
          送料込み
        - else
          着払い
    =link_to "https://www.mercari.com/jp/transaction/buy/m15053644537/" do
      .item__content__price__box__item__buy__btn
        購入画面に進む
    .item__content__description
      %p.item__content__description__inner 
        =simple_format(@item.text)
    .item__content__button__container
      .item__content__button__container__left
        %button.item__content__button__container__left__item
          = fa_icon 'heart', class: "icon-link"
          %span.item__content__button__container__left__item__good 
            いいね
          %span.item__content__button__container__left__item__good 
            0
        .item__content__button__container__left__report
          = link_to "#", class:"report-link" do
            = fa_icon 'flag', class: "icon-link"
            %span.item__content__button__container__left__report__not 
              不適切な商品の報告
      .item__content__button__container__right.clearfix
        =link_to "https://www.mercari.com/jp/safe/description/", class:"right-link" do
          =fa_icon 'lock', class: "icon-link"
          %span.item__content__button__container__right__effort
            あんしん・あんぜんへの取り組み
            
  -if user_signed_in?
    %section.message
      .message__box__content
        %p.message__box__content__announce
          相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.message__box__content__form
        %button.message__box__content__btn 
          %span.message__box__content__btn__text 
            コメントする
  %ul.nav__item__link
    %li.nav__item__link-prev
      -if @items.where(id: "#{@item.id + 1}").present?
        =link_to item_path(@item.id + 1) do
          =fa_icon 'angle-left', class:"nav__item__link-prev-icon"
          =@items.find("#{@item.id + 1}").name
    %li.nav__item__link-next
      -if @items.where(id: "#{@item.id - 1}").present?
        =link_to item_path(@item.id - 1) do
          =@items.find("#{@item.id - 1}").name
          =fa_icon 'angle-right', class:"nav__item__link-next-icon"
  .media__box
    .media__box__center
      .media__box___center__text
      %ul.media__box__center__icon
        %li.media__box__center__icon__facebook
          =link_to "https://www.facebook.com/" , class: "media__box__icon__facebook" do
            = fa_icon 'facebook-square',  class: "media__box__center__icon__facebook-i"
        %li.media__box__center__icon__twetter
          =link_to "https://twitter.com/" , class: "media__box__icon__twetter" do
            = fa_icon 'twitter-square',  class: "media__box__center__icon__twetter-i"
        %li.media__box__center__icon__pinterest
          =link_to "https://pinterest.com/" , class: "media__box__icon__pinterest" do
            = fa_icon 'pinterest-square',  class: "media__box__center__icon__pinterest-i"
        -# 画面小さくなるとLineが表示される
        -# %li.media__box__center__icon__Line
          =link_to "https://line.com/" , class: "media__box__icon__line" do
            = fa_icon 'line-square',  class: "media__box__center__icon__line-i"
  -# 他のアイテム出品情報
  -# ユーザー縛りの出品アイテム
  .user-items--another
    .user-items--another__items__content
      %h3.user-items--another__items__content__name
        =link_to user_path(@item.user.id) do
          =@item.user.name
          さんのその他の商品
      .user-items--another__items__content__block
        -@item.user.items.limit(6).each do |item|
          = render partial:"detail", locals: { item: item } unless (item == @item)

  
  //  ブランド縛りの出品アイテム
  .user-items--another
    .user-items--another__items__content
      %h3.user-items--another__items__content__name
        =link_to category_path(@item.category.id) do
          =@item.category.genre
          のその他の商品
      .user-items--another__items__content__block
        -@item.category.items.limit(6).each do |item|
          = render partial:"detail", locals: { item: item } unless (item == @item)
                      
=render 'shared/footer'
